# Salin jadi .env  ->  copy .env.docker.example .env

APP_NAME=pyapp
APP_PORT=8000
PYTHON_VERSION=3.12

# Django:
APP_COMMAND=python manage.py runserver 0.0.0.0:8000
# FastAPI (hapus tanda # dan beri # pada baris Django di atas):
# APP_COMMAND=uvicorn main:app --host 0.0.0.0 --port 8000 --reload
# Flask:
# APP_COMMAND=flask run --host 0.0.0.0 --port 8000 --debug

DB_NAME=devdb
DB_USER=root
DB_PASS=root
