# Salin jadi .env  ->  copy .env.docker.example .env

APP_NAME=phpapp
APP_PORT=8080
PHP_VERSION=8.2

# CodeIgniter 4 -> /var/www/html/public
# PHP native    -> /var/www/html
DOCROOT=/var/www/html/public

DB_NAME=devdb
DB_USER=root
DB_PASS=root
