[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
default-time-zone = '+07:00'

max_allowed_packet = 64M
innodb_buffer_pool_size = 256M

# hapus tanda # di bawah ini kalau ada aplikasi lama yang butuh mode longgar
# sql_mode = ""

[client]
default-character-set = utf8mb4
